.navbar-brand, .nav-link{
    color: white !important;
}

.navbar {
    padding: 0 ;
    .nav-link:hover{
        background-color: grey ;
    }
}

td.offline {
    color: red;
}

td.online {
    color: green;
}
